body{
    background-image: url('FondoNegro.png');
}
.card {
    margin-left : 80px;
    margin-right: 80px;
}
#img {
    background-size : cover;
    padding-top     : 90px;
    min-height      : 300px;
    color           : beige;
}
h1{
    color: beige ;
    font-family: 'Sweet Hipster';
    font-size: 90px;
    font-weight: 500;
}
.text-secondary{
    color: rgb(0, 0, 0);
    font-family: 'Avocado Creamy';
    font-size: 30px;
}
p{
    font-family: 'Century Gothic';
    font-size: 20px;
    font-weight: 900;
}
h5{
    font-family: 'Sweet Hipster';
    font-size: 50px;
    font-weight: 500;
}